.App {
  text-align: center;
}

.the-hand{
  width: 350px;
  height: 500px;
  border: 2px solid black;
  background-color: #eee;
}

.hand-image{
  padding-top: 50px;
}

.points{
  margin-top: 200px;
}

.choice{
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 20px;
}

.choices{
  text-align: center;
  padding-top: 25px;
}

.choice:hover{
  background-color: #0a1616;
  transition-duration: 1.5s;
  cursor: pointer;
  -webkit-animation: tada .5s;
    animation: tada .5s;
}

.rounds-div{
  /* width: 500px; */
  display: flex;
  justify-content: space-around;
}

.players{
  display: flex;
  justify-content: space-around;
}

